#emailPreferences {
  margin: 30px 4%;
  div {
    margin-bottom: 2px;
    margin-left: 15px;
  }
  p {
    margin-left: 7px;
  }
  #updateEmailPreferencesButton {
    margin-left: 21px;
    margin-top: 11px;
    :disabled {
      background-color: grey;
      border-color: black;
    }
  }
}
